*{
	font-family: sans-serif;
}

#external{
	color: yellow;

}

h1{
	font-size: 50px;

}
#upper{
	text-transform: uppercase;
}
.languages{
	background-color: lightgreen;
}
.tools{
	border-width: 3px;
	border-style: solid;
	border-color: lightblue;
}
p{
	font-size: 20px;

}
h2 + img	{
	height: 150px;
	width: 	150px;
	border-radius: 150px;
}



div > ol{
	font-family: "serif;";
	letter-spacing: 18px;
	font-size: 30px;	
}
div ~ p{
	text-align: center	;
}

